 /*css de index
@(index.php)
@
*/ 
 /*-----------formateo de etiquetas------------- */
 a, abbr, acronym, address, applet, big, blockquote, 
 body, caption, cite, code, dd, del, dfn, div, dl, 
 dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, 
 html, iframe, img, ins, kbd, label, legend, li, object, 
 ol, p, pre, q, s, samp, small, span, strike, strong, 
 sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, 
 var {
	border:0pt none;
	font-family:inherit;
	font-size: 100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0pt;
	padding:0pt;
	vertical-align:baseline;
}
/*----------------Escritorio---------------------*/
a{
	color: #78B1F6;
	text-decoration: none;
}
body{
	background: #09387E;
	color: #FFFFFF;
	cursor: default !Important;
	font-family: Tahoma, Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	line-height:14px;
	margin:0pt;
	overflow: hidden;
}
html,body{
	height:100%;
	overflow: none;
}
#main{
	background: transparent url(../img/background.jpg) repeat-x scroll bottom center;
	height: 100%;
	overflow: none;
}

#main div.icon{
	background-position: center 4px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	display: none;
	left: 20px;
	margin: 0pt auto;
	min-height: 64px;
	min-width: 64px;
	padding: 0px 14px 8px;
	position: absolute;
	text-align: left;
}
#main div.icon:hover{
	background-color: #0C2D62 !Important;
	border: 1px solid #2D5FA6;
}
#main div.icon.active{
	background-color: #0a2c5e !Important;
	border: 1px solid #3b567e;
}
#main div.icon a.name{
	color: #fff;
	margin-top: 70px;
	text-align: center;
}
#main #carpeta1,
#main #carpeta2,
#main #carpeta3{
	/*background-size*/
	-webkit-background-size:70px 70px;
	   -moz-background-size:70px 70px;
	     -o-background-size:70px 70px;
	        background-size:70px 70px;
}


#main #carpeta1{
	background-image: url(../img/carpeta1.png);
	top: 50px;
}
#main #carpeta2{
	background-image: url(../img/carpeta2.png);
	top: 150px;
}
#main #carpeta3{
	background-image: url(../img/carpeta3.png);
	top: 250px;
}

#taskbar{
	background: #000 url(../img/bar.png) repeat-x scroll 50% 50%;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	height: 30px;
	left: 0;
	line-height: 30px;
	padding: 1px 0px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
}
#taskbar a {
	color: #FFFFFF;
}
#taskbar a:hover {
	color: #78B1F6;
}
#taskbar #logout, #taskbar #preview, #taskbar #clock {
	border-left: 1px solid #666;
	float: right;
	padding: 0 10px;
}
#taskbar #clock{
	background: url(../img/clock.png) no-repeat 5px center;
	border-left: 1px solid #575757;
	padding-left: 33px;
}
.copyright {
	color: #efefef;
	float: left;
	padding-left: 10px;
}
.clear{
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}