/*
css de:
@cursos/Basico/index.php
*/ 
@import url(http://fonts.googleapis.com/css?family= Love+Ya+Like+A+Sister);
a{
	color: rgba(0,0,0,0.9);
	margin : 0;
	padding: 0;
	text-decoration: none;
}
body{
	background: rgba(0, 0, 0, 0.9) url(../img/FondoCursoBase.JPG) no-repeat center center fixed; 
	-webkit-background-size: cover;
       -moz-background-size: cover;
    	 -o-background-size: cover;
    		background-size: cover;   	
	}
#menu{
	height: 90%;
	left: 125px;
	position: absolute;
	right: 125px;
	top:0;
}
#menu ul{
	position: absolute;
    padding:0;
    text-align: center;
    top: 30%;
    width:100%;
}
#menu ul li{
	/*box-shadow*/
	-webkit-box-shadow:0 1px 0 #9a9a9a;
	   -moz-box-shadow:0 1px 0 #9a9a9a;
	        box-shadow:0 1px 0 #9a9a9a;
	background-image:-ms-linear-gradient(top, #fff, #eee);
	background-image:-o-linear-gradient( top, #fff, #eee);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image:-webkit-linear-gradient(top, #fff, #eee);
	background-image:linear-gradient(top, #fff, #eee);
	background:#eee;
	background-image:-moz-linear-gradient(top, #fff, #eee);
	/*border-radius*/
	-webkit-border-radius:100%;
	   -moz-border-radius:100%;
	        border-radius:100%;
	border:1px solid #ddd;
	display:inline-block;
	margin:2%;
	padding:5px;
	position:relative;
	vertical-align:top;
	width:22%;
	z-index:90;
}
#menu ul li:hover{
	background:rgba(0,0,0,0.9);
	/*transition*/
	-webkit-transition:background-color linear .8s;
	   -moz-transition:background-color linear .8s;
	     -o-transition:background-color linear .8s;
	        transition:background-color linear .8s;
	color:#fff;
}
#menu ul img{
	background-color: rgba(250,250,250,0);
	border:none;
	position: relative;
	width:80%;
	z-index: 999;
}
#tituloBS{
	color:  rgba(250,250,250,0.4);
	font-size: 500%;
	font-family:Rancho;
	margin: 10% auto;
	position: relative;
	text-align: center;
	text-shadow: 0.04em 0.04em #FFFFFF,  0.08em 0.08em #1ba29a;
}
.inner {
	/*box-shadow*/
	-webkit-box-shadow:0 0 0 1px #fff;
	   -moz-box-shadow:0 0 0 1px #fff;
	        box-shadow:0 0 0 1px #fff;
	/*border-radius*/
	-webkit-border-radius:100%;
	   -moz-border-radius:100%;
	        border-radius:100%;        
	border:1px dashed #ccc;
	padding:0.5em;
	margin:0 auto;
	text-align:center;
}
.subti{
	
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 200%;
	margin : 0;
	padding: 0;
}
@media screen and (max-width:568px) {
#tituloBS{	
	font-size: 400%;	
	margin: 5% auto;
}
.subti{
	font-size: 100%;
}
}

