 /*css de barra de navegacion 
@(home.php)
@
*/ 
 /*-----------formateo de etiquetas------------- */
@import url("http://fonts.googleapis.com/css?family= Shojumaru");

 a, abbr, acronym, address, applet, big, blockquote, 
 body, caption, cite, code, dd, del, dfn, div, dl, 
 dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, 
 html, iframe, img, ins, kbd, label, legend, li, object, 
 ol, p, pre, q, s, samp, small, span, strike, strong, 
 sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, 
 var {
	border:0pt none;
	font-family:inherit;
	font-size: 100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0pt;
	padding:0pt;
	vertical-align:baseline;
}
/*----------------Escritorio---------------------*/
a{
	color: #78B1F6;
	text-decoration: none;
}
body{
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
       -moz-background-size: cover;
    	 -o-background-size: cover;
    		background-size: cover;
	color: #FFFFFF;
	cursor: default !Important;
	font-family: Tahoma, Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	line-height:14px;
	margin:0pt;
	overflow: hidden;
}
html,body{
	height:100%;
	overflow: none;
}
#taskbar{
	background: #000 url(../img/bar.png) repeat-x scroll 50% 50%;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	height: 30px;
	left: 0;
	line-height: 30px;
	padding: 1px 0px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
}
#taskbar a {
	color: #FFFFFF;
}
#taskbar a:hover {
	color: #78B1F6;
}
#taskbar #logout, #taskbar #preview, #taskbar #clock {
	border-left: 1px solid #666;
	float: right;
	padding: 0 10px;
}
#taskbar #clock{
	background: url(../img/clock.png) no-repeat 5px center;
	border-left: 1px solid #575757;
	padding-left: 33px;
}
/*---iconos y titulos de barra---*/
#titulo{
	font-size: 16px;
}
#tituloOs{
	font-family: 'Shojumaru', cursive;
	font-size: 18px;
}
#tituloHer{
	left: 280px;
	position: absolute;
	top:8px;
}
#tituloHer a{
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
}
.name{
	padding: 0;
	margin: 0;
}
.name	img{
	border: none;
	width: 20px;
	height: 20px;
}
/*-------------------*/
.copyright {
	color: #efefef;
	float: left;
	padding-left: 10px;
}
.clear{
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
@media screen and (max-width:568px) {
#clock{
	opacity: 0;
}	
#titulo{
	font-size: 16px;
}
#tituloHer{
	left: 260px;
}
#taskbar{
	width: 567px;
}
}
@media screen and (max-width:480px) {
#clock{
	opacity: 1;
}	
}
@media screen and (max-height:320px) {
#clock{
	opacity: 1;
}	
}