body{
	background-color: rgba(0,0,0,0.4);
	}
#menu{
	left: 125px;
	right: 125px;
	position: absolute;
	top:0;
	height: 90%;
}
#menu section{
	position: absolute;
    text-align: center;
    top: 30%;
    width:100%;
}
#menu section img{
	border: none;
	height: 20%;
	position: relative;
	width: 20%;
	padding: 2%;
	z-index: 999;
}